body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgb(93, 0, 255), #f4a);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeIn 1s;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #f06;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

button:hover {
    background: #ff6;
    color: #000;
}

.palette {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.color-box {
    width: 80px;
    height: 80px;
    border: #000 solid 3px;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.color-box:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.saved-palettes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    color: #000;
    border-radius: 10px;
    display: none;
}

.modal.open {
    display: block;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
